@import "nav.css";
@import "fish.css";
@import "tips.css";

* {
    font-family: 'Spartan';
}

.container__head {
    text-align: center;
    flex-basis: 100%;
    color: #13293D;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    top: 400px;
    justify-content: center;
}

button {
    padding: 3px;
    margin: 5px;
}

button:hover {
    background: #006494;
    color: white;
    border-radius: 5px;
}