@import "nav.css";
@import "fish.css";
@import "tips.css";
@import "travel.css";
@import "locations.css";

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background: rgb(254, 254, 254);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 60px;
}

.container__head {
    text-align: center;
    width: 100%;
    color: #003459;
    text-decoration: overline;
}

.dot {
    height: 6px;
    width: 6px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
    align-content: center;
  }