.navbar {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    align-items: center;
    position: sticky;
    top: 0;
    margin-bottom: 10px;;
}

.logo {
    width: 100px;
    height: 80px;
    order: 1;
    margin: 5px;
    margin-left: 20px;
}

.nav__title {
    display: inline;
    order: 2;
    flex-basis: 50%;
    text-align  : center;
    color: #13293D;
}

.nav__link {
    margin: 5px;
    border: 3px solid #006494;
    padding: 9px;
    flex-basis: 15%;
    text-align: center;
    background-color: #13293D;
    text-decoration: none;
    color: #E8F1F2;
}

.nav__link:hover {
    background-color: #006494;
    border: 3px solid #006494;
}

#link__1 {
    order: 3;
}

#link__2 {
    order: 4;
}