.tiplist {
    flex-basis: 25%;
    text-align: center;
}

.tip {
    border: 2px solid black;
    margin: 10px;
}

.tip__head {
    font-weight: bolder;
    font-size: 16px;
    text-decoration: underline;
}